<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Title {% endblock title %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'polls:index' %}">Главная</a>
            <div>
                {% if user.is_authenticated %}
                    <img src="{{ user.avatar.url }}" alt="Аватар" width="40" height="40" style="border-radius: 50%;">
                    <p>{{ user.username }}</p>
                    <a href="{% url 'polls:profile' %}">Профиль</a>
                    <form method="post" action="{% url 'polls:logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Выйти</button>
                    </form>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>
</html>